1 VERSIONINFO
FILEVERSION 0,5,0,484
PRODUCTVERSION 0,0,0,1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "GUI for Monte Carlo eXtreme\000"
   VALUE "FileVersion", "0.5.0.484\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "2009,2010 Qianqian Fang\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "\000"
   VALUE "ProductVersion", "0.0.0.1\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}

#define RT_MANIFEST  24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define ISOLATIONAWARE_MANIFEST_RESOURCE_ID 2
#define ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID 3

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mcxstudio.manifest"
MAINICON ICON "mcxstudio.ico"
